<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>

  <title> CHATTY CHAT CHAT</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/socket.io.js'></script>
  <style>
    html,
    body {
      height: 100%;
      padding: 0px;
      margin: 0px;
    }

    body {
      height: 100%;
      width: 100%;
      display: table;
    }

    #div1 {
      display: table-row;
      height: 10%;
      background-color: yellow;
      text-align: center;
    }

    #div2 {
      display: table-row;
      height: 80%;
      /*    background-color:blue;*/
      text-align: center;

    }

    #div3 {
      display: table-row;
      height: 10%;
      background-color: green;
    }
  </style>
</head>

<body>
  <div id="div1">

    <div style="font-size:20px;">세헌채팅방이에용</div>

    <button id="join">Join room</button>
    <button id="leave">Exit room</button>
  </div>

  <div id="div2">

    <div style="display: flex; border:1px solid chartreuse; width: 80%; padding-left: 10%;">
      <div style="display:inline-block;  border: 1px solid red; height:400px; width:80%;margin-top:1%;
      overflow-y:scroll;">

        <div id="totalmsg" style="text-align:left; padding-left:10px; border: 1px solid blue;">
        </div>

      </div>
      <div id="member_list" style="display: inline-block; width: 20%; background-color: chocolate; margin-top:1%;">
        
      </div>
    </div>


    <div style="display:flex; width:80%; padding-left: 10%; height: 30px;">

      <div style="background-color:red; width:20%;">
        <%=show_user%>
      </div>
      <div style="background-color:blue; width:80%;">
        <input id="input_chat" type="text" value="" style="width:100%;">
      </div>
    </div>

  </div>
  <!--div2-->

  <div id="div3">
    dgsafag
  </div>








  <script>
    var id = '<%=show_user%>';
    var roomname = "a1"; //방이름
    var socket = io(window.location.origin);//백앤드소켓주소입력

    window.onload = function () {
      //console.log(socket);
      console.log("document ready");
      socket.emit('joinRoom', roomname, id, "방 들어가게 허락해줘");//방 들어갈게
      $('#join').click(function () {
        console.log("asfasf");
        socket.emit('joinRoom', roomname, id, "방 들어가게 허락해줘");//방 들어갈게

      });

      $('#leave').click(function () {
        console.log("asfasf");
        socket.emit('leaveRoom', roomname, id, "방 나가게 허락해줘");//방 나갈게
        
        window.location.href="/";
      });

      ///프론트에서 백앤드로 입장보내는메시지

      $('#input_chat').keypress(function (e) {
        if (e.key == 'Enter') {
          var getmsg = $('#input_chat').val();
          //alert(getmsg);
          $('#input_chat').val("");
          socket.emit('sendmsg_backend', roomname, id, getmsg);//방 들어갈게
        }

      });
      //프론트에서 백엔드로보내는 채팅메세지

      console.log("asfsaf" + window.location.origin);

      //var socket = io("http://34.85.15.240:8989");




      //백앤드에서 프론트로 보낸 메시지를 받는곳
      socket.on('joinRoom', (roomname, id, msg) => {
        console.log(msg);
        $('#totalmsg').append('<div>' + msg + '</div>');
      });

      socket.on('add_member', (roomname, id, msg) => {
        console.log(msg);
        console.log("멤버리스트: "+member_list); 
        ////////
        if(member_list.length >=1){
        const idx = member_list.indexOf(id);

        console.log("아아"+idx);

        if(idx>-1){
          //이미있는정보니까 추가안함
        
        }
        else{
          member_list.push(id);
        

          $('#member_list').append('<div>' + msg + '</div>');
          //없는정보니까 추가를 함
        }
      }
      else{
        member_list.push(id);
        
          $('#member_list').append('<div>' + msg + '</div>');

      }
       
      });

      socket.on('leaveRoom', (roomname, id, msg) => {
        console.log(msg);
        $('#totalmsg').append('<div>' + msg + '</div>');
      });

      socket.on('sendmsg_frontend', (roomname, id, msg) => {
        console.log(msg);
        $('#totalmsg').append('<div>' + id + ": " + msg + '</div>');
      });

    }
var member_list= [];
  </script>
</body>




</html>