<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>

  <title> CHATTY CHAT CHAT</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/socket.io.js'></script>
  <style>
    html,
    body {
      height: 100%;
      padding: 0px;
      margin: 0px;
    }

    body {
      height: 100%;
      width: 100%;
      display: table;
    }

    #div1 {
      display: table-row;

      background-color: yellow;
      text-align: center;
    }

    #div2 {
      display: table-row;
      height: 100%;
      /*    background-color:blue;*/
      text-align: center;
      /*      background-color: rgba(0,0,255,0.5);*/
    }

    #div3 {
      display: table-row;

      background-color: green;
    }

    img {
      display: block;
      margin: 0px auto;
      position: relative;
    }

    #tempidvalue {
      border: 4px solid rgb(81, 168, 194);
      height: 30px;
      font-size: 20px;

    }

    #tempidvalue:focus {
      border: 4px solid rgb(44, 117, 139);
      outline: none;
    }
  </style>
</head>

<body>
  <div id="div1">

  </div>
  <div id="div2">
    <!--테이블 row -->

    <div style="display:flex;width:100%; height:100%; 
      align-items: center;
  justify-content: center;">
      <!-- flex -->

      <div style="width:100%; height:80%;">
        <!--flex 안쪽 컨텐츠-->
        <div style="display:block; width:100%; height:100%; ">
          <div style="height:15%; width:100%; ">

          </div>
          <div style="height:45%; ">
            <img id='SHTALK' src='/images/SHTALK.PNG'>
            <form action="/chatroom" method="post">

              <input id="tempidvalue" name="username" type="text" value="" placeholder="이름: ">
              <button id="joinroombtn" type="summit">JOIN</button>
            </form>

          </div>
          <div style="height:40%; ">


          </div>


        </div>
      </div>

    </div>
  </div>
  <div id="div3">

  </div>

</body>


<script>

  /*
  var roomname = "a1"; //방이름
  var id = "1234"; //유저아이디


  $('#joinroombtn').click(function(){
    id =   $('#tempidvalue').val();
      ///프론트에서 백앤드로 보내는메시지
    socket.emit('joinRoom', roomname, id, "허락해줘");//방 들어갈게
  });


 // var socket = io("http://localhost:8989");//백앤드소켓주소입력
 var socket = io("http://34.85.15.240:8989");




  //백앤드에서 프론트로 보낸 메시지를 받는곳
  socket.on('joinRoom', (roomname, id, msg) => {
    console.log(msg);
    $('#totalmsg').append('<div>'+msg+'</div>');
  });*/
</script>

</html>