<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>

  <title> CHATTY CHAT CHAT</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/socket.io.js'></script>
  <style>
      img { display: block; margin: 0px auto; position: relative;}
    </style>
</head>

<body>
  <img id='SHTALK' src='/images/SHTALK.PNG'>


  <form action="/chatroom" method="post">
      
      <input id="tempidvalue" name="username" type="text" value="" placeholder="이름: ">
      <button id="joinroombtn" type="summit">JOIN</button>
    </form>

</body>


<script>

  /*
  var roomname = "a1"; //방이름
  var id = "1234"; //유저아이디

  
  $('#joinroombtn').click(function(){
    id =   $('#tempidvalue').val();
      ///프론트에서 백앤드로 보내는메시지
    socket.emit('joinRoom', roomname, id, "허락해줘");//방 들어갈게
  });


 // var socket = io("http://localhost:8989");//백앤드소켓주소입력
 var socket = io("http://34.85.15.240:8989");




  //백앤드에서 프론트로 보낸 메시지를 받는곳
  socket.on('joinRoom', (roomname, id, msg) => {
    console.log(msg);
    $('#totalmsg').append('<div>'+msg+'</div>');
  });*/
</script>

</html>